@font-face {
    font-family: "American Scribe";
    src: url("./fonts/American%20Scribe.woff2") format("woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: "TerraIgnota";
    src: url("./fonts/TerraIgnota.woff2") format("woff2");
    font-weight: 400;
  }

html{
    font-size: 3vmin;
    font-family: 'Courier New', Courier, monospace;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 2rem;
    color: #213563;
}

a{
    color: #213563;
}

a.back{
    color: #008290;
    font-weight: bold;
    font-size: .75em;
    text-transform: uppercase;
    text-decoration: none;
}

span.block{
    display: block;
}

span.badge, span.note{
    border-radius: 999px;
    padding: .1em .7em;
    font-size: .75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-color: white;
    line-height: 1;
}

span.badge{
    border: 1px solid #008290;
    color: #008290;
    display: inline-block;
}

span.note {
    border: 1px solid #999;
    color: #999;
    display: block;
    margin-bottom: .25em;
}

ul{
    margin-bottom: 2rem;
}

li{
    font-weight: 200;
    margin-bottom: .25rem;
}

h1 {
    font-family: 'American Scribe';
    font-weight: 100;
    font-size: 6rem;
    line-height: 0;
}
  
h2 {
    font-family: "TerraIgnota";
    font-size: 1.5rem;
    font-weight: 100;
    color: #008290;
    margin-top:-1.5em;
}